#mainR {
  #mainRAaaAlteration {
    width: 100%;
    border: solid 5px #fff;
    color: #FFF;
    font-size: 18px;
    padding: 5px;
  }

  .pointPctL {
    float: left;
    border: 2px solid #E1DF80;
    margin: 5px 10px 5px 20px;
  }

  .flortRM {
    float: right;
    width: 185px;
    
    dl dt {
      background: url("introduction/example.gif") no-repeat 0px 3px;
      padding: 5px 5px 5px 25px;
      color: #1F1F1F;
    }
  }
}
