.wrapper {
  background-image: url("body_back3.png");
  background-repeat: repeat-x;  
  background-position: right top;
  height: 100%;
  background-color: #005a86;
  .body-wrap {
    background-image: url("body_back2.gif");
    background-repeat: no-repeat;  
    background-position: right top;
  }
}
