* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  .background-image {
    width: 100%;
    height: 800px;
    background-image: url("body_back1.png");
    background-repeat: repeat;
    overflow: auto;
    .main-content {
      padding: 120px 0;
      &__image {
      height: 560px;
      width: 700px;
      background-image: url("aaa-top.png");
      margin: 0 auto;
      position: relative;
        &__enter {
        position: absolute;
        bottom: 18px;
        left: 102px;
        width: 475px;
        height: 52px;
        cursor: pointer;
        }
      }
    }
  }
}
